# Java
backend/target/
*.log

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# Env
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
.terraformrc
terraform.rc

# OS
.DS_Store
Thumbs.db
